<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ListarProducto</servlet-name>
        <servlet-class>net.tinajero.servlets.ListarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProductos</servlet-name>
        <servlet-class>net.tinajero.servlets.ListarProductos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListarProducto</servlet-name>
        <url-pattern>/ListarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProductos</servlet-name>
        <url-pattern>/ListarProductos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
